<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a class="title" href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        {% if page.url == "/" %}
          <img src="/assets/img/profile.png" style="width:80%; max-width:170px" alt="Logo" />
        {% endif %}
        </p>
        <p>Ph.D @ SNU<br>sohyeon.kim@vision.snu.ac.kr</p>
        <div style="margin-top: 3px; display: flex; gap: 10px; font-weight: 500; font-size: 13px;">
          <a href="mailto:sohyeon.kim@vision.snu.ac.kr" style="text-decoration: none; color: #5e5e5e;;">Mail</a>
          <a href="https://github.com/ohmyksh" style="text-decoration: none; color: #5e5e5e;">Github</a>
          <a href="https://www.linkedin.com/in/kimsohyeon/" style="text-decoration: none; color: #5e5e5e;">LinkedIn</a>
          <a href="{{ "/blog/" | relative_url }}" style="text-decoration: none; color: #5e5e5e;">Essays</a>
        </div>
      </header>
      <div style="height:30px;"></div>
      <section>

      {{ content }}

      </section>
      <footer>
        <small>Last updated: Oct 2025</small>
      </p></footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
