<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a.title href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a.title></h1>

          <img src="/assets/img/profile.png" style="width:80%; max-width:150px" alt="Logo" />
        
        </p>
        <p>CSE @ POSTECH<br>sooohyun at postech at kr<br>
          <a href="mailto:sooohyun@postech.ac.kr">[Mail]</a>
          <a href="https:/github.com/ohmyksh">[Github]</a>
          <a href="https://www.linkedin.com/in/kimsohyeon/">[LinkedIn]</a>
        </p>
      </header>
      <div style="height:15px;"></div>
      <section>

      {{ content }}

      </section>
      <footer>
        <small>Last updated: June 2025</small>
      </p></footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
