---
layout: default
---

<small style="font-size:14px; display:block; margin-bottom:7px; ">{{ page.date | date: "%-d %B %Y" }}</small>
<h1 style="font-size: 28px; margin-bottom: 10px; font-weight: 500;">{{ page.title }}</h1>

<style>
  .post-content blockquote {
    color: #777;
    border-left: 3px solid #ccc;
    margin: 10px 0;
    padding-left: 10px;
  }
</style>
<div class="post-content" style="color: #000;">
  {{content}}
</div>

<div style="margin-top: 50px;">
  <a href="{{ '/blog/' | relative_url }}"
     style="text-decoration:none; color:#555; border:1px solid #ccc; padding:4px 8px; border-radius:4px; font-size:12px;"
     onmouseover="this.style.backgroundColor='#f2f2f2';"
     onmouseout="this.style.backgroundColor='transparent';">
     Back to List
  </a>
</div>
