---
layout: default
---

<small style="font-size:14px; display:block; margin-bottom:7px; ">{{ page.date | date: "%b %d, %Y" }}</small>
<h1 style="font-size: 26px; margin-bottom: 40px; font-weight: 700; line-height: 1.35;">{{ page.title }}</h1>

<style>
  .post-content blockquote {
    color: #777;
    border-left: 3px solid #ccc;
    margin: 10px 0;
    padding-left: 10px;
  }
  @media print, screen and (max-width: 960px) {
    section {
      border: none;
    }
  }
</style>
<div class="post-content" style="color: #000; font-size: 16px;">
  {{content}}
</div>

<div style="margin-top: 50px;">
  <a href="{{ '/blog/' | relative_url }}"
     class="back-link"
     style="text-decoration:none; color:#000; border:none; padding:2px 4px; border-radius:0; font-size:18px; font-weight:700; line-height:1;"
     aria-label="Back to List"
     title="Back to List">
     &larr;
  </a>
</div>
